<?xml version="1.0" encoding="UTF-8"?>
<web-app 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="https://jakarta.ee/xml/ns/jakartaee" 
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" 
id="WebApp_ID" 
version="6.0">

  <display-name>Java-site</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  		<!-- Servlets  -->
  	<servlet>
		<display-name>Home</display-name>
		<servlet-name>Home</servlet-name>
		<servlet-class>controller.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Auth</display-name>
		<servlet-name>Auth</servlet-name>
		<servlet-class>controller.Auth</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Auth</servlet-name>
		<url-pattern>/Auth</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DownloadingFiles</display-name>
		<servlet-name>DownloadingFiles</servlet-name>
		<servlet-class>controller.DownloadingFiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadingFiles</servlet-name>
		<url-pattern>/DownloadingFiles</url-pattern>
	</servlet-mapping>
	
		<!-- Email Data  -->
	<context-param>
	    <param-name>host</param-name>
	    <param-value>sandbox.smtp.mailtrap.io</param-value>
	  </context-param>
	  <context-param>
	    <param-name>port</param-name>
	    <param-value>2525</param-value>
	  </context-param>
	  <context-param>
	    <param-name>user</param-name>
	    <param-value>68b92c28426a93</param-value>
	  </context-param>
	  <context-param>
	    <param-name>pass</param-name>
	    <param-value>4abaee7f785c0e</param-value>
	  </context-param>
</web-app>