body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #F3EFED;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box {
  position: absolute;
  width: 555px;
  height: 555px;
  border-radius: 30px;
}

.pinkBox {
  left: 270px;
  top: 245px;
  background: #FF88CF;
}

.greenBox {
  left: 40px;
  top: 185px;
  background: #18D6AA;
}

.title {
  position: absolute;
  font-family: 'Comfortaa', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 38px;
  color: #070707;
}

.title1 {
  width: 555px;
  height: 80px;
  left: 845px;
  top: 245px;
}

.title3 {
  width: 555px;
  height: 80px;
  left: 155px;
  top: 1870px;
}

.main-text {
  position: absolute;
  width: 555px;
  height: 90px;
  left: 845px;
  top: 345px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #070707;
}

.photo {
  box-sizing: border-box;
  position: absolute;
  width: 555px;
  height: 555px;
  border: 8px solid #FFD84B;
  border-radius: 30px;
}

.photo1 {
  left: 155px;
  top: 305px;
  background: url('.jpg');
}

.photo2 {
  width: 1130px;
  height: 300px;
  left: 155px;
  top: 990px;
  border: 8px solid #FF88CF;
}

.slider {
  position: absolute;
  width: 1705px;
  height: 740px;
  left: -75px;
  top: 1970px;
}

.box-small {
  box-sizing: border-box;
  position: absolute;
  width: 440px;
  height: 320px;
  border: 8px solid;
  border-radius: 15px;
}

.photo3 {
  width: 440px;
  height: 400px;
  left: -75px;
  top: 0px;
  border-color: #FFD84B;
}

.photo4 {
  left: -75px;
  top: 420px;
  border-color: #FF88CF;
}

.photo5 {
  width: 325px;
  height: 740px;
  left: 385px;
  top: 0px;
  border-color: #A2D6F9;
}

.photo6 {
  width: 210px;
  height: 400px;
  left: 730px;
  top: 0px;
  border-color: #FF88CF;
}

.photo7 {
  width: 210px;
  height: 400px;
  left: 960px;
  top: 0px;
  border-color: #FFD84B;
}

.photo8 {
  left: 730px;
  top: 420px;
  border-color: #18D6AA;
}

.photo9 {
  left: 1190px;
  top: 0px;
  border-color: #A2D6F9;
  width: 440px;
  height: 400px;
}

.photo10 {
  left: 1190px;
  top: 420px;
  border-color: #FF88CF;
}

.contact-us {
  position: absolute;
  width: 230px;
  height: 90px;
  left: 299px;
  top: 2810px;
}

.contact-us-title {
  width: 205.53px;
  height: 22px;
  font-family: 'Comfortaa', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #070707;
  margin-bottom: 20px;
}

.contact-us-text {
  width: 196.72px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #070707;
  display: flex;
}

.contact-us-icon {
  width: 23.49px;
  height: 24px;
  padding-right: 10px;
}


.information {
  position: absolute;
  width: 210px;
  height: 90px;
  left: 40px;
  top: 2810px;
}

.information-title {
  font-family: 'Comfortaa', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #070707;

  margin-bottom: 20px;
}

.information-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #070707;
}

.blueBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 20px;
  position: absolute;
  width: 440px;
  height: 440px;
  left: 155px;
  top: 1352px;
  background: #A2D6F9;
  border-radius: 30px;
}

.blueBox-title {
  font-family: 'Comfortaa', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 38px;
  color: #070707;
}

.blueBox-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #070707;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: 'Comfortaa', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.011em;
  color: #070707;
}

.button1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  gap: 10px;

  position: absolute;
  width: 326px;
  height: 56px;
  left: 962px;
  top: 535px;
  cursor: pointer;

  background: #FF88CF;
  border-radius: 10px;
  border: none;

  width: 276px;
  height: 36px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;

  letter-spacing: -0.011em;

  color: #070707;


  flex: none;
  order: 0;
  flex-grow: 0;

}

.button2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  gap: 10px;

  position: absolute;
  width: 276px;
  height: 36px;
  left: 660px;
  top: 2827px;

  background: #FF88CF;
  border-radius: 10px;
  cursor: pointer;

}

.gluten-free {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 80px;
  gap: 102px;

  position: absolute;
  width: 555px;
  height: 120px;
  left: 730px;
  top: 1350px;

  border: 10px solid #FFD84B;
  border-radius: 20px;

}

.gluten-free-text {
  width: 198px;
  height: 38px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 38px;


  color: #070707;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.gluten-free-icon {
  width: 95px;
  height: 95px;

  flex: none;
  order: 1;
  flex-grow: 0;

}

.vegeterian {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 80px;
  gap: 109px;

  position: absolute;
  width: 555px;
  height: 120px;
  left: 730px;
  top: 1510px;

  border: 10px solid #FF88CF;
  border-radius: 20px;

}

.vegeterian-text {
  width: 191px;
  height: 38px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 38px;

  color: #070707;

  flex: none;
  order: 0;
  flex-grow: 0;

}

.vegeterian-icon {
  width: 95px;
  height: 95px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.vegan {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 80px;
  gap: 190px;

  position: absolute;
  width: 555px;
  height: 120px;
  left: 730px;
  top: 1670px;

  border: 10px solid #18D6AA;
  border-radius: 20px;
}

.vegan-text {
  width: 110px;
  height: 38px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 38px;

  color: #070707;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.vegan-icon {
  width: 95px;
  height: 95px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.logo {
  position: absolute;
  width: 57px;
  height: 29px;
  left: 69px;
  top: 63px;
}

header {
  position: absolute;
  width: 1440px;
  height: 125px;
  left: 0px;
  top: 0px;

}


.text {
  width: 276px;
  height: 36px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.011em;

  color: #070707;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.sign-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  gap: 10px;

  position: absolute;
  width: 326px;
  height: 56px;
  left: 730px;
  top: 49px;

  cursor: pointer;
  background: #FF88CF;
  border-radius: 10px;
  border: none;
}

.download-app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  gap: 10px;

  position: absolute;
  width: 326px;
  height: 56px;
  left: 1075px;
  top: 49px;

  cursor: pointer;
  background: #A2D6F9;
  border-radius: 10px;
  border: none;

}

.title2 {
  position: absolute;
  width: 420px;
  height: 30px;
  left: 175px;
  top: 940px;

}

.center-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 20px;
}

.content {
  width: 1440px;
  background: #F3EFED;
  position: relative;
  height: 3072px;
}